// $black: #2F3035;

$blue: #2500f9;
$blueLight: #f4f4ff;

$red: #f55767;
$redLight: #ffecef;

$green: #40975f;
$greenLight: #e4ffee;


$darkBlue: #242f51;

$gray: #616368;





// $gray: #f5f7fa;

// $boldGray: #C4C4C4;





$regular: 'Poppins-Regular', sans-serif;

$medium: 'Poppins-Medium', sans-serif;

$bold: 'Poppins-Medium', sans-serif;

$semibold: 'Poppins-SemiBold', sans-serif;




















// $generalFont: 'Ubuntu', sans-serif;



// $bold: 'SFProDisplay-Bold', sans-serif;

// $price: 'Barlow', sans-serif;